# Server Configuration
PORT=3000
JWT_SECRET=sua_chave_secreta_muito_segura_aqui

# Discord Configuration
DISCORD_SERVER_ID=1499872178039029792
DISCORD_CHANNEL_ID=1518419101242888273

# Database (opcional para produção)
# DATABASE_URL=mongodb://localhost:27017/siex